---
layout: page
title: "About"
description: "Hey, this is DG."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        在伪文青和程序员的道路上大步前行~
    </blockquote>
    2017年12月31日，九零后正式谢幕，似乎也意味着我的放纵青春就这样戛然而止。杜牧诗曰：“青春留不住，白发自然生。”该来的总会在你措不及防的时候到来，“剑未佩妥，出门已是江湖”便是对我最恰当的描述。<br><br>
剑未佩妥，不是因为匆忙，而是因为不愿提起这三尺青锋。我曾妄想像堂吉诃德一样大战风车，可随着逐步的接触社会、适应社会，终于变成了最不想成为的“被社会磨平了棱角的人”。棱角是曾经的正气。高考完报驾校，按照规矩要路口站岗，大多数人只是身穿反光制服寻个树荫混时间，而我顶着烈日一板一眼的指挥着过往行人；上了大学，父母陪同报名，到达南昌已是晚上八点，近千人等候校车。有学长学姐组织排队，很多人插队先走，我苦口婆心劝说父母老实排队，等到了晚上十一点多，差点和父母闹翻；进学生会，长袖善舞者总是受人欢迎，期末评奖自然也少不了，而我这般默默做事的人反倒没几个人认得；后来暑假去做网管，夜班的网管大多偷懒睡觉，我辛辛苦苦值班还被经理找机会扣了工资，其他油子们只是勤往办公室跑几次，“李哥”、“张姐”的叫着就有奖金……吃的亏多了，就明白这剑终于是要提起来的，“我这有两根金条，你能告诉我哪根是高尚的，哪根是低贱的？”《潜伏》里的台词是我自欺欺人的借口，我适应了这个社会，虽然还不至于海阔天空，但多少能够在规则里辗转挪移。今年到韵达做客服，四十多岁的经理我张嘴就是“李姐”，其他同事自然也成了“x姐”、“x哥”，手头永远留着两三件事等着领导查岗的时候再做，心情再不好拿起电话服务客户的时候也能从嗓子里倒出二斤蜜来。你说剑未佩妥吗？佩倒是佩了，只不过我想佩得是“剑开天门”的君子剑，而不是“口蜜腹剑”的小人剑。<br><br>
曾经跨马游春山，是“春风得意马蹄疾”的少年意气，可“一日看尽长安花”之后，归来已不再少年。2017年12月31日，九零后们集体谢幕，与我而言也将是踏上江湖的时候。曾给自己写了一句人生警句：长做小人之举，偶有君子德行。希望在这世俗之下，无论如何妥协，最终都能保留二三初心。毕竟，东坡先生有词曰：“门前溪水尚能西，休将白发唱黄鸡！”
    <p style="text-align:right;">
         <a>—— 写于2017年12月31日晚 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <p style="text-align:center;">
         <a> 想多了，这里只有中文版~~ </a>
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
